<div class="container parent-vertical-center">
  <div class="col-sm-6 col-sm-offset-3 child-vertical-center">
    <mat-card class="main-form-card">
      <h2>
        Login
      </h2>
      <form (ngSubmit)="onLoginSubmit()" class="example-form" #loginForm="ngForm">
        <mat-form-field class="form-input">
          <input type="text" matInput placeholder="Email" name="email" [(ngModel)]="loginData['email']">
        </mat-form-field>
        <br/>
        <mat-form-field class="form-input">
          <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="loginData['password']">
        </mat-form-field>
        <br/>
        <br/>
        <a routerLink="/signup">Create account instead</a>
        <button type="submit" mat-raised-button color="primary" class="login-button">Login</button>
      </form>
      <br/>
    </mat-card>
  </div>
</div>
