<div class="container parent-vertical-center">
  <div class="col-sm-6 col-sm-offset-3 child-vertical-center">
    <mat-card class="main-form-card">
      <h2>
        Create account
      </h2>
      <form (ngSubmit)="onSignUpSubmit()" class="example-form" #signupForm="ngForm">
        <mat-form-field class="form-input">
          <input type="text" matInput placeholder="Email" name="email" [(ngModel)]="signupData['email']">
        </mat-form-field>
        <br/>
        <mat-form-field class="form-input">
          <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="signupData['password']">
        </mat-form-field>
        <br/>
        <br/>
        <a routerLink="/login">Sign in instead</a>
        <button type="submit" mat-raised-button color="primary" class="login-button">Sign up</button>
      </form>
      <br/>
    </mat-card>
  </div>
</div>
